<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mytest.ssm.mapper.UserMapper">
<select id="userLogin" parameterType="com.mytest.ssm.entity.User" resultMap="BaseResultMap">
    select * from T_USER where U_USERNAME =#{username} and U_PWD =#{password}
    </select>
 <!-- 自定义高级映射 -->
    <resultMap id="BaseResultMap" type="com.mytest.ssm.entity.User">
        <id column="U_ID" property="id" />
        <result column="U_USERNAME" property="username" />
        <result column="U_PWD" property="password" />
        <result column="U_MOBILE" property="mobile" />
        <result column="U_EMAIL" property="email" />
    </resultMap>
    
</mapper>
