<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1" metadata-complete="true">
<display-name>Archetype Created Web Application</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:/spring-mybatis.xml
    </param-value>
    </context-param>
     <welcome-file-list>
    <welcome-file>/WEB-INF/pages/index.jsp</welcome-file>
  </welcome-file-list>
	<!-- 编码过滤器 -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
	<filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- 前端过滤器配置 ，web项目启动时就创建对象，并且执行init()方法-->  
   <filter>
  		<filter-name>front_login_filter</filter-name>
  		<filter-class>com.mytest.ssm.web.filter.FrontLoginFilter</filter-class>
	  		<init-param>
	  			<param-name>exclude_path</param-name>
	  			<param-value>
	  				    <!-- 以下路径可以放行 -->
	  					/front/user/toLogin.action,
	  					/front/user/login.action,
  						/front/user/toRegister.action,
						/front/user/register.action
	  			</param-value>	 
	  		</init-param>
  </filter> 
   <filter-mapping> 
  		<filter-name>front_login_filter</filter-name>
	  		<!--以下请求路径会被过滤器截取 -->
	  		<url-pattern>/front/order/*</url-pattern>
	  		<url-pattern>/front/user/*</url-pattern> 
  </filter-mapping>
  <!-- 后端过滤器配置  -->  
   <filter> 
  		<filter-name>back_filter</filter-name>
  		<filter-class>com.mytest.ssm.web.filter.BackLoginFilter</filter-class>
	  		<init-param> 
	  			<param-name>exclude_path</param-name> 
	  			<param-value> 
	  					<!-- 以下路径可以放行 -->
	  					/back/admin/toLogin,
	  					/back/admin/login
	  			</param-value>	 
	  		</init-param>
  </filter>
  <filter-mapping>
  		<filter-name>back_filter</filter-name>
  			<!--以下请求路径会被过滤器截取 -->
	  		<url-pattern>/back/admin/*</url-pattern>  
	  		<url-pattern>/back/brand/*</url-pattern>
	  		<url-pattern>/back/category/*</url-pattern>
	 		<url-pattern>/back/product/*</url-pattern>
	 		<url-pattern>/back/user/*</url-pattern>
  </filter-mapping>
    <!-- Spring监听器 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

 <!-- Spring MVC servlet -->
    <servlet>
        <servlet-name>springServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath*:spring-mvc.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>springServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    
   <!-- 错误页面配置 -->
	<error-page> 
		<error-code>404</error-code>  
		<location>/WEB-INF/pages/status/404.html</location>
	</error-page> 
    <error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/pages/status/500.html</location>
	</error-page>
    <error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/pages/status/500.html</location>
	</error-page>
	
  <servlet>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>com.mytest.ssm.utils.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name> 
    <url-pattern> /contact.do</url-pattern>
  </servlet-mapping>
	

  
  
 
    <!--图片上传展示资源配置  --> 
    <servlet>
    <servlet-name>ImgServlet</servlet-name>
    <servlet-class>com.mytest.ssm.utils.ImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImgServlet</servlet-name>
    <url-pattern> /imgServlet.do</url-pattern>
  </servlet-mapping>
  
   <!--验证码资源配置  -->  
  <servlet>
    <servlet-name>AuthCodeServlet</servlet-name>
    <servlet-class>com.mytest.ssm.utils.AuthCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthCodeServlet</servlet-name>
    <url-pattern> /authcode.img</url-pattern>
  </servlet-mapping>
   
  <!--首页资源配置  -->  
    <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.mytest.ssm.web.front.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern> /front/index.do</url-pattern>
  </servlet-mapping>
   
 <!--后台首页资源配置  -->       
  <servlet> 
    <servlet-name>BackIndexServlet</servlet-name>
    <servlet-class>com.mytest.ssm.web.back.BackIndexServlet</servlet-class>
  </servlet>   
  <servlet-mapping>    
    <servlet-name>BackIndexServlet</servlet-name>  
    <url-pattern>/back/c.do</url-pattern> 
  </servlet-mapping> 
  
    <servlet> 
    <servlet-name>BackWelcomeServlet</servlet-name>
    <servlet-class>com.mytest.ssm.web.back.BackWelcomeServlet</servlet-class>
  </servlet>   
  <servlet-mapping>     
    <servlet-name>BackWelcomeServlet</servlet-name>  
    <url-pattern>/back/welcome.do</url-pattern> 
  </servlet-mapping>  
   
    <servlet>  
    <servlet-name>BackFootServlet</servlet-name>
    <servlet-class>com.mytest.ssm.web.back.BackFootServlet</servlet-class>
  </servlet>   
  <servlet-mapping>     
    <servlet-name>BackFootServlet</servlet-name>  
    <url-pattern>/back/foot.do</url-pattern> 
  </servlet-mapping> 
  
      <servlet>  
    <servlet-name>BackMenuServlet</servlet-name>
    <servlet-class>com.mytest.ssm.web.back.BackMenuServlet</servlet-class>
  </servlet>   
  <servlet-mapping>     
    <servlet-name>BackMenuServlet</servlet-name>  
    <url-pattern>/back/menu.do</url-pattern> 
  </servlet-mapping> 
  
        <servlet>  
    <servlet-name>BackHeadServlet</servlet-name>
    <servlet-class>com.mytest.ssm.web.back.BackHeadServlet</servlet-class>
  </servlet>   
  <servlet-mapping>      
    <servlet-name>BackHeadServlet</servlet-name>  
    <url-pattern>/back/head.do</url-pattern> 
  </servlet-mapping>
  
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>
   
 
	
</web-app>